<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IFruitsSectorDAO">

    <resultMap id="result" type="model.FruitsSector">
        <id property="ID" column="id"/>
        <result property="type" column="type"/>
        <result property="Product_id" column="product_id"/>
        <result property="Products_Supermarket_id" column="product_supermarket_id"/>
    </resultMap>

    <select id="getEntityById" parameterType="Integer" resultMap="result">
        SELECT * FROM fruits_sector WHERE id = #{ID}
    </select>

    <select id="getFruitsSector" resultMap="result">
        SELECT * FROM fruits_sector
    </select>

    <insert id="insertFruitsSector" parameterType="model.FruitsSector" useGeneratedKeys="true" keyProperty="ID"
            timeout="20">
        INSERT INTO fruits_sector (type, product_id, product_supermarket_id)
        VALUES (#{type}, #{Product_id}, #{Products_Supermarket_id})
    </insert>

    <update id="updateFruitsSector" parameterType="model.FruitsSector">
        UPDATE fruits_sector SET
        type = #{type},
        product_id = #{Product_id},
        product_supermarket_id = #{Products_Supermarket_id}
        WHERE id = #{ID}
    </update>

    <delete id="removeFruitsSector">
        DELETE FROM fruits_sector WHERE id = #{ID}
    </delete>
</mapper>